<div class="container" style="padding-top: 1.5rem;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0 position-relative pb-2 fw-bold" style="color: #2c3e50;">
            تغيير كلمة السر
            <span style="
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 3px;
                background: linear-gradient(to right, #3498db, #2ecc71);
                border-radius: 3px;
                "></span>
        </h4>
    </div>

    <div class="login-wrapper">
        <form (ngSubmit)="onSubmit()" class="login-form text-center">

            <div class="form-group mb-3">
                <input type="password" class="minimalist-input" [(ngModel)]="updatePasswordReq.currentPassword"
                    name="currentPassword" placeholder="كلمة السر الحالية" required />
            </div>

            <div class="form-group mb-3">
                <input type="password" class="minimalist-input" [(ngModel)]="updatePasswordReq.newPassword"
                    name="newPassword" placeholder="كلمة السر الجديدة" required />
            </div>

            <div class="form-group mb-4">
                <input type="password" class="minimalist-input" [(ngModel)]="updatePasswordReq.newPassword2"
                    name="newPassword2" placeholder="تأكيد كلمة السر الجديدة" required />
            </div>

            <button [disabled]="isDisabled" type="submit" class="btn-login w-75 rounded-pill">
                تحديث كلمة السر
            </button>

        </form>
    </div>
</div>