<div class="full-screen-bg">

    <div class="container">

        <div class="row justify-content-center mt-5" dir="rtl">

            <div class="col-md-6">

                <div class="card border-secondary shadow rounded-3 border-0">

                    <div
                        class="card-header d-flex justify-content-between align-items-center bg-dark text-white rounded-top">

                        <span>

                            {{
                                !isSubTopic && !isMainTopic
                                ? 'تعديل مجموعة'
                                : !isSubTopic && isMainTopic
                                ? 'تعديل موضوع رئيسي'
                                : 'تعديل موضوع فرعي'
                            }}

                        </span>

                        <button type="button" class="btn-close btn-close-white" aria-label="إغلاق"
                            (click)="emitCloseClicked()">
                        </button>

                    </div>

                    <div class="card-body bg-light rounded-bottom">

                        <app-toast *ngIf="toastMessage" [message]="toastMessage" [type]="toastType"
                            (close)="toastMessage = ''">
                        </app-toast>

                        <form>

                            <div class="mb-3">

                                <label class="form-label">
                                    الاسم
                                </label>

                                <input type="text" class="form-control" placeholder="أدخل الاسم" [(ngModel)]="topicName"
                                    name="topicName">

                            </div>

                            <div class="text-start">

                                <button type="submit" class="btn btn-primary" [disabled]="isDisabled"
                                    (click)="editTopic(topicName)">

                                    تعديل

                                </button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>