<nav class="navbar bg-ahlulbayt-green" aria-label="Offcanvas navbar">
    <div class="container-fluid">
        <img src="assets/alghadeer.png" alt="Logo" width="70" height="70" class="d-inline-block align-top me-2" />
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <!-- Close button at far left -->
                <button type="button" class="navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo at far right -->
                <img src="assets/alghadeer.png" alt="Logo" width="120" class="img-fluid ms-auto" />
            </div>



            <div class="offcanvas-body text-end" style="direction: rtl;">
                <ul class="navbar-nav flex-grow-1 pe-3">

                    <!-- المعلم Dropdown -->
                    <li class="nav-item dropdown"
                        *ngIf="hasPermission('ADMIN') || hasPermission('INSTRUCTOR') || hasPermission('SUPERVISOR')">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            المعلم
                        </a>
                        <ul class="dropdown-menu text-end">
                            <li><a class="dropdown-item" routerLink="/staff/instructor/upcoming-sessions">الحصص
                                    القادمة</a></li>
                            <li><a class="dropdown-item" routerLink="/staff/instructor/assigned-classes">الصفوف</a></li>
                        </ul>
                    </li>

                    <!-- المشرف Dropdown -->
                    <li class="nav-item dropdown" *ngIf="hasPermission('ADMIN') || hasPermission('SUPERVISOR')">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            المشرف
                        </a>
                        <ul class="dropdown-menu text-end">
                            <li><a class="dropdown-item" routerLink="/staff/supervisor/classes">الصفوف</a></li>
                            <li><a class="dropdown-item" routerLink="/staff/supervisor/transfer-student">تحويل
                                    الطالب</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/staff/supervisor/cancel-sessions']"
                                    [queryParams]="{ type: 'byDate' }">إلغاء الحصة بالتاريخ</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/staff/supervisor/cancel-sessions']"
                                    [queryParams]="{ type: 'bySession' }">إلغاء الحصة بالحصص</a></li>
                            <li><a class="dropdown-item"
                                    [routerLink]="['/staff/supervisor/announcements']">الإعلانات</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/staff/supervisor/reports']">التقارير</a>
                            </li>
                        </ul>
                    </li>

                    <!-- المدير Dropdown -->
                    <li class="nav-item dropdown" *ngIf="hasPermission('ADMIN')">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            المدير
                        </a>
                        <ul class="dropdown-menu text-end">
                            <li><a class="dropdown-item" routerLink="/staff/admin/staff">الطاقم</a></li>
                            <li><a class="dropdown-item" routerLink="/staff/admin/semesters">الفصول</a></li>
                        </ul>
                    </li>

                    <!-- برنامج الصلاة Dropdown -->
                    <li class="nav-item dropdown"
                        *ngIf="hasPermission('ADMIN') || hasPermission('INSTRUCTOR') || hasPermission('SUPERVISOR')">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            برنامج الصلاة
                        </a>
                        <ul class="dropdown-menu text-end">
                            <li *ngIf="hasPermission('ADMIN')"><a class="dropdown-item"
                                    routerLink="/staff/admin/salah/questions">الأسئلة</a></li>
                            <li
                                *ngIf="hasPermission('ADMIN') || hasPermission('INSTRUCTOR') || hasPermission('SUPERVISOR')">
                                <a class="dropdown-item" routerLink="/staff/salah">الاختبارات</a>
                            </li>
                        </ul>

                    </li>

                    <!-- المواضيع -->
                    <li class="nav-item"
                        *ngIf="hasPermission('ADMIN') || hasPermission('SUPERVISOR') || hasPermission('INSTRUCTOR')">
                        <a class="nav-link nav-font" href="/staff/instructor/topics">المواضيع</a>
                    </li>

                    <!-- الكل Dropdown -->
                    <li class="nav-item dropdown"
                        *ngIf="hasPermission('ADMIN') || hasPermission('INSTRUCTOR') || hasPermission('SUPERVISOR')">
                        <a class="nav-link dropdown-toggle nav-font" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            الحساب
                        </a>
                        <ul class="dropdown-menu text-end">
                            <li><a class="dropdown-item" routerLink="/staff/update-password">تحديث الكلمة السرية</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Login / Logout -->
                    <li class="nav-item" *ngIf="isPermissionsEmpty() && isStaffDomain()">
                        <a class="nav-link nav-font" href="/staff/login">تسجيل الدخول</a>
                    </li>

                    <li class="nav-item"
                        *ngIf="(!isPermissionsEmpty() && isStaffDomain()) || (isStudentDomain() && !isPermissionsEmpty())">
                        <a class="nav-link nav-font" href="javascript:void(0)" (click)="logout()">تسجيل الخروج</a>
                    </li>

                    <li class="nav-item" *ngIf="isStudentDomain() && isPermissionsEmpty()">
                        <a class="nav-link nav-font" href="/login">تسجيل الدخول</a>
                    </li>

                    <li class="nav-item" *ngIf="isStudentDomain() && isPermissionsEmpty()">
                        <a class="nav-link nav-font" href="/register">إنشاء حساب</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>