<div class="container py-4" dir="rtl">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0 position-relative pb-2 fw-bold" style="color: #34495e;">
            برنامج الصلاة
            <span style="
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 3px;
                background: linear-gradient(to right, #3498db, #1abc9c);
                border-radius: 3px;
            "></span>
        </h4>
        <button class="btn shadow-sm rounded-4 px-4 py-2" routerLink='/staff/admin/salah/questions/subjects'
            style="background: linear-gradient(90deg, #3498db, #1abc9c); color: #fff; border: none;">
            المواضيع
        </button>

    </div>

</div>