@font-face {
    font-family: 'Alexandria';
    src: url('/assets/fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    text-align: right;
}

body,
html {
    font-family: "Alexandria", sans-serif;
}