<div class="full-height mt-5">
    <div class="student-form-wrapper-container">
        <div class="student-form-wrapper">
            <form (ngSubmit)="onSubmit()">
                <h2>تسجيل الطالب</h2>

                <input type="text" [(ngModel)]="name" name="name" class="minimalist-input" placeholder="إسم الطالب">
                <input type="text" [(ngModel)]="area" name="area" class="minimalist-input" placeholder="المنطقة">
                <input type="text" pattern="^\d{9}$" maxlength="9" [(ngModel)]="cpr" name="cpr" class="minimalist-input"
                    placeholder="الرقم الشخصي">
                <input type="text" pattern="^\d{8}$" maxlength="8" [(ngModel)]="telephone" name="telephone"
                    class="minimalist-input" placeholder="رقم الهاتف">
                <input type="text" [(ngModel)]="email" name="email" class="minimalist-input"
                    placeholder="البريد الإلكتروني">
                <div class="minimalist-date">
                    <input type="text" [(ngModel)]="dateOfBirth" name="dateOfBirth" class="minimalist-input"
                        placeholder="تاريخ الميلاد" [matDatepicker]="picker" (click)="picker.open()" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>


                <div style="margin-bottom:1rem; display:flex; align-items:center;">
                    <button type="button" (click)="fileInput.click()" class="custom-upload-btn">اختر ملف</button>
                    <input type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" id="image"
                        style="display:none" #fileInput>
                    <span class="file-info">{{ selectedFileName || 'لم يتم اختيار ملف' }}</span>
                </div>

                <button [disabled]="isDisabled" type="submit" class="btn-submit w-75 rounded-pill mx-auto d-block">
                    تسجيل الدخول
                </button>
            </form>
        </div>
    </div>
</div>