.full-screen-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.card {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

.card-body {
    overflow-y: auto;
    padding: 20px;
}

.bg-ahlulbayt-green {
    background-color: #B0DB9C;
}

.custom-radius {
    border-radius: 10px !important;
}