<div class="login-wrapper">
    <form (ngSubmit)="onSubmit()" class="login-form text-center">
        <h2 class="login-title mb-4">تسجيل الدخول</h2>

        <div class="form-group mb-3">
            <input type="text" [(ngModel)]="cpr" name="cpr" class="minimalist-input" placeholder="رقم الهوية">
        </div>

        <div class="form-group mb-4">
            <input type="password" [(ngModel)]="password" name="password" class="minimalist-input"
                placeholder="كلمة المرور">
        </div>
        <div class="form-group mb-3 text-center">
            <small class="signup-text">
                ليس لديك حساب؟ <a routerLink="/register">سجل هنا</a>
            </small>
        </div>

        <button [disabled]="isDisabled" type="submit" class="btn-login w-75 rounded-pill">تسجيل الدخول</button>
    </form>
</div>