<div class="container" style="padding-top: 1.5rem;">
    <div class="row align-items-center">
        <div class="col-md-6 text-end mb-3">
            <button type="button" class="btn btn-primary" [routerLink]="['/staff/admin/register']">
                <i class="bx bx-plus me-1"></i> إضافة الطاقم
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="ps-4" style="width: 50px;">الرقم</th>
                                <th scope="col">الاسم</th>
                                <th scope="col">الصلاحية</th>
                                <th scope="col" style="width: 100px;">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let staffObj of staff">
                                <td class="ps-4">{{ staffObj.id }}</td>
                                <td><a class="text-body">{{ staffObj.name }}</a></td>
                                <td><a class="text-body">{{ getRoleLabel(staffObj.permissions[0]?.permission) }}</a>
                                </td>
                                <td>
                                    <a (click)="toggleConfirmDeleteStaff(staffObj.id)" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="حذف" class="px-2 text-danger">
                                        <i class="bx bx-trash-alt font-size-18"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4" dir="ltr">
        <div class="col-12 text-center">
            <ul class="pagination justify-content-center mb-0 flex-row">

                <!-- Previous Button -->
                <li class="page-item" [class.disabled]="page.first">
                    <a class="page-link" (click)="goToPage(page.number - 1)" *ngIf="!page.first">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <span class="page-link" *ngIf="page.first">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                </li>

                <!-- Page Numbers (RTL - highest to lowest) -->
                <ng-container *ngFor="let p of [].constructor(page.totalPages); let i = index">
                    <li class="page-item" [class.active]="(page.totalPages - 1 - i) === page.number">
                        <a class="page-link" (click)="goToPage(page.totalPages - 1 - i)">
                            {{ toArabicNumeral(page.totalPages - i) }}
                        </a>
                    </li>
                </ng-container>

                <!-- Next Button -->
                <li class="page-item" [class.disabled]="page.last">
                    <a class="page-link" (click)="goToPage(page.number + 1)" *ngIf="!page.last">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                    <span class="page-link" *ngIf="page.last">
                        <i class="mdi mdi-chevron-left"></i>
                    </span>
                </li>

            </ul>
        </div>
    </div>



</div>

<app-confirm-delete *ngIf="confirmDeleteDisplay" [showToast]="showToast" [closeClicked]="closeClicked"
    [staffId]="staffId" [pageNumber]="pageNumber" (closeClickedDelete)="toggleConfirmDeleteStaff(staffId)"
    (page)="handlePageChange($event)"></app-confirm-delete>